/* Home.css */

.home {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    overflow: hidden;
  }
  
  .home__content {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    color: #333;
    z-index: 1;
  }
  
  .home__content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .home__content p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .home__links {
    font-size: 18px;
  }
  
  .home__link {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .home__background__shape {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .home__background__shape1 {
    width: 250px;
    height: 250px;
    top: -60px;
    left: -80px;
  }
  
  .home__background__shape2 {
    width: 350px;
    height: 350px;
    top: -120px;
    right: -100px;
  }
  
  .home__background__shape3 {
    width: 450px;
    height: 450px;
    top: -180px;
    left: -150px;
  }
  
  .home__background__shape4 {
    width: 300px;
    height: 300px;
    top: 100px;
    right: -120px;
  }
  